<!DOCTYPE html>
<html>
    <head>
    </head>
    <body style="font-family: Tahoma, Geneva, sans-serif;font-size:12px">
        <div style="border: 1px solid #c5c5c5;">
            <div style="background-color: #8A6DE9;">
                <img src="http://www.avmishra.org/shoppinglist/img/shopping-cart-48.png">
            </div>
            <div style="height:200px;padding-top:20px;padding-left:30px;background-color:#F7FFFF;">
               Hello,
                <br/><br/>
                {{first_name}} has been created a shopping list on <span style="color:#EF4E3A;font-weight:bold">Shoppinglist</span> mobile App, and want to share that list with you.
                <br/>
                Please install and get registered on Shoppinglist App on your android device, so that {{first_name}} can share shopping with you.
                <br/>
                <br/>
                <a href="https://play.google.com/store/apps/details?id=com.avmishra.shoppinglistapp">
                    <img alt="Get it on Google Play" src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png" />
                 </a>
                <br/><br/>
                -
                <br/>
                Shoppinglist Team
            </div>
        </div>
    </body>
</html>