<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

{% block body %}
    Hello {{ name }}!
 {% endblock %}

 <form id="signup_form">
     
<!-- user creation -->
<!--<br><input type="text" name="email" id="email" placeholder="email">
<br><input type="password" name="pass" id="pass" placeholder="pass">
<br><input type="text" name="first_name" id="first_name" placeholder="first name">
<br><input type="text" name="last_name" id="last_name" placeholder="last name">
<br>Male: <input type="radio" name="gender" id="male" value="1" checked="checked">&nbsp; Female:<input type="radio" name="gender" id="female" value="0">
<br><input type="text" name="mobile_no" id="mobile_no" placeholder="mobile no"> -->

<!-- product creation -->
<!--
<br><input type="text" name="product_name" id="product_name" placeholder="Product name">
<br>
<select name="fk_category" id="fk_category">
    <option value="1">Grosery</option>
    <option value="2">Food</option>
    <option value="3">Fashion</option>
    <option value="99">Other</option>
</select>
<br><input type="text" name="added_by" id="added_by" value="1" placeholder="Added by"> -->

<!-- shoppinglist creation -->

<br><input type="text" name="email" id="email" placeholder="Shopping name">
<br><input type="text" name="id_shoppinglist" id="id_shoppinglist" placeholder="id shoppinglist" value="4"> 

<!-- add shopping list item -->
<!--
<br><input type="text" name="id_shoppinglist" id="id_shoppinglist" placeholder="id shoppinglist">
<br><input type="text" name="id_product" id="id_product" value="" placeholder="id product"> 
<br><input type="text" name="unit" id="unit" value="" placeholder="Unit"> 
<br><input type="text" name="quantity" id="quantity" value="" placeholder="Quantity"> -->

<input type="button" onclick="doTest()" value="Click">
 </form>
<script>
    
    function doTest() {
        $.ajax({
            type:'GET',
            data:$("#signup_form").serialize(),
                url:'http://shoppinglist.localhost/app_dev.php/v1/shoppinglists/list?api_key=SL1416511610AV',
            success:function(data) {
                var json = $.parseJSON(data);
                console.log(json);
            },
            error:function() {
                    alert("Sorry, I can't get the feed");	
            }
        });
    }
    </script>

